@import url(./fonts/inter.css);

.page {
    background-color: #2A2C2F;
    max-width: 1280px;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
}
.header {
    margin: 28px 48px 56px 48px;
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.header__lang-link{
    color: #FFFFFF;
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
}
.header__lang-link:not(:nth-of-type(2n)) {
    margin-right: 18px;
}
.header__lang-link_status_active {
    text-decoration: underline;
    margin-top: 18px;
    margin-bottom: 6px;
}
.lead {
    text-align: center;
    /* width: 77%; */
    margin: 0 148px;
    padding-bottom: 92px;
}
.lead__title {
    font-size: 96px;
    line-height: 100px;
    margin: 0 calc((100% - 720px)/2) 32px;
}
.lead__subtitle {
    font-size: 30px;
    line-height: 36px;
    margin: 0 calc((100% - 640px)/2) 64px;
    font-weight: normal;
}
.lead__iamge {
    width: 100%;
    height: 100%;
}
.lead__caption {
    margin: 8px calc(100% - 159px) 0 0;
    text-transform: uppercase; 
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.4px;
}
.lead__caption_position_left {
    text-align: left;
}
.intro {
    margin: 0 442px 0 148px;
    padding-bottom: 92px;
}
.intro__title {
    font-size: 54px;
    line-height: 58px;
    margin:  0 0 40px 0;
}
.intro__text {
    font-size: 16px;
    line-height: 26px;
    margin: 0 auto 32px auto;
}
.intro__list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 12px;
}
.intro__list-point:not(:nth-of-type(5n)) {
    margin-bottom: 3.5px;
}
.intro__span-accent {
    font-weight: 700;
}
.photo-grid {
    margin: 0 48px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 16px;
    padding-bottom: 95px;
}
.photo-grid__item {
    width: 100%;
}
.places {
    margin:  0 calc((100% - 984px)/2);
    padding-bottom: 92px;
}
.place {
    display: grid;
    grid-template-columns: 460px 1fr;
    grid-gap: 40px;
}
.place:not(:nth-of-type(5n)) {
    margin-bottom: 80px;
}
.place__title {
    font-size: 72px;
    line-height: 76px;
    margin: 0;
}
.place__website {
    align-self: end;
}
.place__image {
    padding-top: 48px;
    width: 100%;
}
.place__url-heading {
    margin: 0 0 2.5% 0;
    font-size: 12px;
    line-height: 20px;
    color: #AAAAAA;
    letter-spacing: 2px;
}
.place__link {
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    transition: opacity 0.5s;
}
.place__link:hover {
    cursor: pointer;
    opacity: 0.8;
}
.place__paragraphs {
    margin: 0 auto;
    padding-top: 48px;
}
.place__paragraph {
    font-size: 18px;
    line-height: 30px;
    margin: 0 auto;
}
.place__paragraph:not(:nth-of-type(2n)) {
    margin-bottom: 24px;
}
.place:nth-of-type(5n) .place__paragraph {
    padding-top: 48px;
    margin: 0 auto;
}
.cover {
    margin: 0 48px; 
    position: relative;
    text-align: center;
    padding-bottom: 92px;
}
.cover__background {
    background-image: url('./images/__background.png');
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cover__title {
    font-size: 72px;
    line-height: 76px;
    color: #FFFDFD;
    position: absolute;
    top: 30%;
    margin: 0px calc((100% - 560px)/2);
    z-index: 1;
}
.cover__subtitle {
    font-size: 18px;
    line-height: 22px;
    position: absolute;
    top: 52%;
    margin: 0px calc((100% - 360px)/2);
    z-index: 1; 
}
.cover__overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #2A2C2F;
    opacity: 0.3;
    transition: opacity 0.5s;
}
.cover:hover .cover__overlay {
    cursor: pointer;
    opacity: 0.8;
}
.footer {
    display: flex;
    justify-content: space-between;
    margin: 0 48px;
    padding-bottom: 24px;
}
.footer__menu {
    display: flex;
}
.footer__copyright {
    margin: 0;
}
.footer__link {
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration: none;
    transition: opacity 0.5s;
}
.footer__link:hover {
    opacity: 0.8;
    cursor: pointer;
}
.footer__link:not(:nth-of-type(5n)) {
    margin-right: 18px;
}
@media screen and (max-width: 1279px) {
    .header {
        margin: 28px 48px 48px 48px;
    }
    .lead {
        margin: 0 48px;
    }
    .lead__subtitle {
        margin: 0 144px 56px 144px;
    }
    .intro {
        margin: 0 286px 0 48px;
        padding-bottom: 92px;
    }
    .photo-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 14px;
    }
    .places {
        margin: 0 48px;
    }
    .place {
        grid-template-columns: 440px 1fr;
        grid-gap: 32px;
    }
    .cover {
        margin: 0;
    }
    .cover__title {
        top: 195px;
    }
    .cover__subtitle {
        top: 379px;
    }
}
@media screen and (max-width: 1023px) {
    .header {
        margin: 28px 24px 48px 24px;
    }
    .lead {
        margin: 0;
        padding-bottom: 88px;
    }
    .lead__subtitle {
        margin: 0 calc((100% - 640px)/2) 56px;
    }
    .lead__caption {
        margin: 8px 0 0 24px;
    }
    .intro {
        margin: 0 24px;
        padding-bottom: 88px;
    }
    .photo-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 16px;
        margin: 0 24px;
        padding-bottom: 88px;
    }
    .places {
        margin: 0 24px;
        padding-bottom: 88px;
    }
    .place{
        grid-template-columns: 340px 1fr;
        grid-gap: 28px;
    }
    .place:not(:nth-of-type(5n)) {
        margin-bottom: 72px;
    }
    .place__title {
        font-size: 45px;
        line-height: 46px;
    }
    .place__website {
        align-self: center;
    }
    .place__url-heading {
        line-height: 12px;
    }
    .place__paragraph {
        font-size: 16px;
        line-height: 26px;
    }
    .cover {
        padding-bottom: 88px;
    }
    .cover__title {
        top: 115px;
    }
    .cover__subtitle {
        top: 299px;
    }
    .footer {
        margin: 0 24px;
    }
    .footer__copyright {
        font-size: 14px;
        line-height: 16px;
    }
}
@media screen and (min-width: 319px) and (max-width: 767px){
    .header {
        margin: 16px 16px 48px 16px;
    }
    .lead {
        margin: 0;
        padding-bottom: 64px;
    }
    .lead__title {
        font-size: 40px;
        line-height: 44px;
        margin: 0 16px 16px;
    }
    .lead__subtitle {
        margin: 0 16px 40px;
        font-size: 16px;
        line-height: 20px;
    }
    .lead__caption {
        margin: 8px 0 0 16px;
    }
    .intro {
        margin: 0 16px;
        padding-bottom: 64px;
    }
    .intro__title {
        font-size: 32px;
        line-height: 35px;
    }
    .photo-grid {
        grid-template-columns: 1fr;
        grid-gap: 12px;
        margin: 0 16px;
        padding-bottom: 64px;
    }
    .places {
        margin: 0 16px;
        padding-bottom: 64px;
    }
    .place {
        grid-template-columns: 1fr;
        grid-gap: 0;
    }
    .place:not(:nth-of-type(5n)) {
        margin-bottom: 48px;
    }
    .place__title {
        text-align: center;
        font-size: 32px;
        line-height: 35px;
    }
    .place__image {
        padding-top: 32px;
        width: 100%;
    }
    .place__website {
        display: none;
    }
    .place__paragraphs {
        margin: 0 auto;
        padding-top: 32px;
    }
    .cover {
        padding-bottom: 64px;
    }
    .cover__title {
        top: 33px;  
        margin: 0 calc((100% - 288px)/2); 
        font-size: 37px;
        line-height: 35px;
    } 
    .cover__subtitle {
        top: 119px;
        margin: 0 calc((100% - 288px)/2);
        font-size: 14px;
        line-height: 16px;
    }
    .footer {
        flex-direction: column;
        margin: 0 16px;
    }
    .footer__menu {
        flex-direction: column;
    }
    .footer__link {
        margin: 0 auto 32px 0;
    }
    .footer__link:nth-of-type(5n) {
        margin: 0 auto 48px 0;
    }
}