.cover__subtitle {
    font-size: 18px;
    line-height: 22px;
    position: relative;
    margin: 0px calc((100% - 360px)/2);
    z-index: 2; 
    color: #FFFFFF;
}
@media screen and (min-width: 319px) and (max-width: 767px) {
    .cover__subtitle {
        /* top: 119px; */
        margin: 0 calc((100% - 288px)/2) 16px;
        font-size: 14px;
        line-height: 16px;
    }
}