.cover__overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: #2A2C2F;
    opacity: 0.3;
    transition: opacity 0.5s;
}
.cover:hover .cover__overlay {
    opacity: 0.8;
}