.cover__background {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0.8;
    transition: opacity 0.5s;
}
.cover:hover .cover__background {
    opacity: 0.3;
}