.cover__title {
    font-size: 72px;
    line-height: 76px;
    color: #FFFDFD;
    position: relative;
    margin-bottom: 32px;
    margin: 0px calc((100% - 560px)/2) 32px;
    z-index: 2;
    font-weight: 900;
}

@media screen and (min-width: 319px) and (max-width: 767px) {
    .cover__title {
        margin: 0 calc((100% - 288px)/2) 16px; 
        font-size: 37px;
        line-height: 35px;
    } 
}