.place__url-heading {
    margin: 0 0 2.5% 0;
    font-size: 12px;
    line-height: 20px;
    color: #AAAAAA;
    letter-spacing: 2px;
}
@media screen and (max-width: 1023px) {
    .place__url-heading {
        line-height: 12px;
    }
}